/* DOCUMENT */

* {
    margin: 0;
}

html {
    max-width: 1400px;
    margin: auto;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

main {
    padding: 0 55px;
}

/* TEXT SEMANTIC */

h1, h2, h3, input {
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

h2, input {
    font-size: 18px;
    line-height: 21px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

p, a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

a { 
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 12px;
}

 button {
    color: #FFFFFF;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

/* STARS */

.star {
    color: #0065FC;
    width: 20%;
}

.grey-star {
    color: #F2F2F2;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 126px;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 55px;
    width: auto;
    height: 100%;
}

#logo img {
    width: 35%;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
}

nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* SEARCH */

.search {
    display: flex;
    flex-direction: column;
}

.search-description {
    display: flex;
    flex-direction: column;
}

.search-description p {
    margin-top: 8px;
}

.search-container {
    display: flex;
    margin-top: 20px;
    height: 50px;
}

form {
    display: flex;
    width: 100%;
}

#form-label {
    display: flex;
    width: 25%;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
}

#form-label i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16%;
    cursor: pointer;
}

#form-label input {
    width: 84%;
    height: 95%;
    padding-left: 17px;
    border: transparent; 
}

input::placeholder {
    color: black;
}

input:focus {
    outline: none;
}

#form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 20px;
    cursor: pointer;
}

#form-button span {
    display: flex;
}

#form-button i {
    display: none;
}

/* FILTER */

.filter {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.filterbar {
    display: flex;
    height: 50px;
    align-items: center;
}

.filterbar-description {
    width: 8%;
}

.filterbar-wrapper {
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 100%;
}

.filterbar-container {
    display: flex;
    align-items: center;
    width: auto;
    padding: 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    box-sizing: border-box;
}

.filterbar-container i {
    color: #0065FC;
    margin-right: 10px;
}

.filterbar-container:hover {
    background-color: #DEEBFF;
}

.infobar {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.infobar i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    box-sizing: border-box;
    color: #0065FC;
}

.infobar p {
    margin-left: 11px;
}

/* OFFERS */

.offers {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.offers-main {
    width: 67%;
    height: 626px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    order: 1;
    border-radius: 20px;
    background: #F2F2F2;
}

.offers-main-title, .offers-main-addmore {
    width: 90%;
    align-self: center;
}

.offers-main-addmore a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.offers-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-self: center;
    width: 90%;
    height: 428px;
}

.main-card {
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 199px;
    padding-bottom: 3px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.main-card a {
    width: 100%;
    height: 100%;
}

.main-image {
    height: 124px;
}

.main-image img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
}

.main-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75px;
    padding-left: 15px;
}

.main-description-info {
    display: flex;
    flex-direction: column;
}

.main-description-info p {
    margin-top: 7px;
    font-size: 14px;
    line-height: 16px;
}

.main-description-info h2 {
    font-size: 16px;
    line-height: 19px;
}

.main-description-grades {
    display: flex;
    align-self: flex-start;
    width: auto;
}

.offers-sponso {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 626px;
    border-radius: 20px;
    background: #F2F2F2;
    order: 2;
}

.offers-sponso-title {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.offers-sponso-title i {
    color: #0065FC;
}

.offers-sponso-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 85%;
    height: 498px;
}

.sponso-card {
    display: flex;
    width: 100%;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.sponso-image {
    width: 45%;
    height: 100%;
}

.sponso-image img {
    box-sizing: border-box;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sponso-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
    height: 100%;
    padding-left: 15px;
}

.sponso-description-info {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 60px;
}

.sponso-description-info h2 {
    font-size: 16px;
    line-height: 19px;
}

.sponso-description-info p {
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
}

.sponso-description-grades {
    display: flex;
    align-self: flex-start;
    width: auto;
}

/* ACTIVITY */

.activity {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.activity-main {
    display: flex;
    justify-content: space-between;
    margin-top : 18px;
}

.activity-card {
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 445px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activity-image {
    height: 389px;
}

.activity-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activity-description {
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.activity-description h2 {
    display: flex;
    align-self: center;
    width: 90%;
    font-size: 16px;
    line-height: 19px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 225px;
    margin: 60px 48px 0 48px;
    background: #F2F2F2;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 22%;
    height: 60%;
}

.footer-container ul {
    margin-top: 20px;
}

/* BREAKPOINTS */

/* TABLET */

@media screen and (max-width: 991.98px) {

    /* MAIN */

    main {
        padding: 0 70px;
    }

    /* SEARCH */

    #form-label {
        width: 40%;
    }

    /* FILTER */

    .filterbar-wrapper {
        width: 90%;
    }

    .filterbar-container h3 {
        font-size: 13px;
        line-height: 13px;
    }

    /* OFFERS */

    .offers {
        flex-direction: column;
    }

    .offers-main {
        width: 100%;
    }

    .offers-sponso {
        width: 100%;
        height: 278px;
        flex-direction: column;
        margin-top: 53px;
    }

    .offers-sponso-title {
        width: 90%;
    }

    .offers-sponso-container {
        flex-direction: row;
        width: 90%;
        height: 144px;
    }

    .offers-sponso-container a {
        width: 32%;
    }

    .sponso-description-info h2 {
        font-size: 14px;
        line-height: 16px;
    }

    .sponso-description-info p {
        font-size: 13px;
        line-height: 15px;
    }

    /* ACTIVITY */

    .activity {
        margin-top: 70px; 
    }

    .activity-main {
        margin-top: 34px;
    }

    .activity-card {
        height: 267px;
    }

    .activity-image {
        height: 211px;
    }

    .activity-description h2 {
        width: auto;
        align-self: flex-start;
        margin-left: 19px;
    }
}

/* BREAKPOINT */

/* PHONE */

@media screen and (max-width: 767.98px) {

    /* HEADER */

    header {
        display: flex;
        flex-direction: column;
    }

    #logo {
        align-items: center;
        padding: 0;
    }
    
    nav {
        width: 100%;
    }
    
    nav a {
        width: 50%;
    }

    nav a:hover {
        border-top: transparent;
        border-bottom: 3px solid #0065FC;
    }

    /* MAIN */

    main {
        margin-top: 31px;
        padding: 0;
    }

    /* SEARCH */

    .search, .filter {
        padding: 0 22px;
    }

    #form-label {
        width: 90%;
    }

    #form-label i {
        width: 10%;
    }

    #form-label input {
        width: 90%;
    }

    #form-button {
        width: 10%;
    }

    #form-button span {
        display: none;
    }

    #form-button i {
        display: flex;
    }

    /* FILTER */

    .filter {
        margin-top: 34px;
    }

    .filterbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: auto;
    }

    .filterbar-description {
        width: 100%;
    }

    .filterbar-wrapper {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .top {
        display: flex;
        order: 1;
        width: 47%;
    }

    .down {
        margin-top: 17px;
        display: flex;
        order: 2;
        width: 47%;
    }

    .filterbar-container {
        height: 50px;
    }

    .filterbar-container h3 {
        font-size: 11px;
        line-height: 14px;
    }

    .infobar {
        margin-top: 43px;
    }

    /* OFFERS */
    
    .offers-sponso {
        order: 1;
        margin: 0;
        height: 580px;
        border-radius: 0;
    }

    .offers-sponso-container {
        display: flex;
        flex-direction: column;
        height: 498px;
    }

    .offers-sponso-container a {
        width: 90%;
        align-self: center;
    }

    .sponso-description-info h2 {
        font-size: 16px;
    }

    .sponso-description-info p {
        font-size: 14px;
    }

    .offers-main {
        order: 2;
        margin-top: 28px;
        height: auto;
        background-color: #FFFFFF;
    }

    .offers-main-container {
        margin-top: 19px;
        justify-content: center;
        height: auto;
    }

    .main-card {
        width: 80%;
        margin-bottom: 12px;
    }

    .main-description-info h2 {
        font-size: 16px;
    }

    .main-description-info p {
        font-size: 14px;
    }

    .offers-main-addmore {
        display: none;
    }

    /* ACTIVITY */

    .activity {
        margin-top: 93px;
        margin-bottom: 80px;
        padding: 0 22px;
    }

    .activity-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .activity-card {
        width: 80%;
        margin-bottom: 24px;
    }

    /* FOOTER */

    footer {
        margin: 0;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 45px 60px 0 60px;
    }

    .footer-container {
        margin-bottom: 40px;
        width: auto;
    }
}