* {
    margin: 0;
}

html {
    max-width: 1400px;
    margin: auto;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin: 0;
}


h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

p, a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

a { 
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 12px;
}

.star {
    color: #0065FC;
}

.grey-star {
    color: #F2F2F2;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 126px;
}

header img {
    margin-left: 55px;
    width: 61.09px;
    height: 19px;
}

nav {
    display: flex;
    width: 324px;
    height: 100%;
}

nav a {
    border-top: 2px solid transparent;
    padding-top: 48px;
    text-align: center;
    width: 162px;   
}

nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.search {
    padding: 0 55px;
    display: flex;
    flex-direction: column;
}

.search p {
    margin-top: 8px;
}

.search-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: row;
}

.form-label {
    display: flex;
    align-items: center;
    width: 284px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
}

.form-label i {
    margin: 16px 18px 15px 18px;
}

.form-label input {
    width: 282px;
    height: 49px;
    border: 1px solid #F2F2F2;
    padding-left: 17px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

input::placeholder {
    color: black;
}

input:focus {
    outline: none;
}

.form-submit {
    display: flex;
    justify-content: center;
    width: 132px;
    height: 49px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.form-submit:hover {
    cursor: pointer;
}

span {
    position: absolute;
}

.filter {
    margin-top: 32px;
    padding: 0 62px;
    display: flex;
    flex-direction: column;
}

.filterbar {
    width: 914px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.filterbar-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 175px;
    height: 48px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    box-sizing: border-box;
}

.filterbar-container:hover {
    background-color: #DEEBFF;
}

.filterbar-container i {
    display: flex;
    justify-content: center;
    color: #0065FC;
}

#filterbar-container-animals {
    width: 235px;
    height: 48px;
}

.infobar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 38px;
}

.infobar i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    box-sizing: border-box;
    color: #0065FC;
}

.infobar p {
    margin-left: 11px;
}

.offers {
    margin-top: 39px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offers-main {
    width: 65%;
    height: 626px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    background: #F2F2F2;
}

.offers-main-title, .offers-main-addmore {
    margin-left: 40px;
}

.offers-main-addmore a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.offers-main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    align-self: center;
    width: 90%;
    height: 428px;
}

.main-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 199px;
    padding-bottom: 3px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.main-image {
    width: 100%;
    height: 124px;
}

.main-image img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
}

.main-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 75px;
}

.main-description-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 9px;
    width: 90%;
}

.main-description-info p {
    font-size: 14px;
    line-height: 16px;
}

.main-description-info h2 {
    font-size: 16px;
    line-height: 19px;
}

.main-description-grades {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 2px;
    width: 90%;
}

.offers-sponso {
    width: 30%;
    height: 626px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    background: #F2F2F2;
}

.offers-sponso-title {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.offers-sponso-title i {
    color: #0065FC;
}

.offers-sponso-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 85%;
    height: 498px;
}

.sponso-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.sponso-image {
    width: 40%;
    height: 100%;
}

.sponso-image img {
    box-sizing: border-box;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sponso-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 100%;
}

.sponso-description-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 7px;
    width: 90%;
    height: 60px;
}

.sponso-description-info h2 {
    font-size: 16px;
    line-height: 19px;
}

.sponso-description-info p {
    font-size: 14px;
    line-height: 16px;
}

.sponso-description-grades {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    gap: 2px;
    width: 90%;
}

.activity {
    margin-top: 60px;
    padding: 0 53px;
    gap: 18px;
    display: flex;
    flex-direction: column;
}

.activity-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 43px;
}

.activity-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 445px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activity-image {
    width: 100%;
    height: 389px;
}

.activity-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activity-description {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.activity-description h2 {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 90%;
    font-size: 16px;
    line-height: 19px;
}

footer {
    height: 225px;
    margin-top: 61px;
    padding: 0 53px;
}

.footer-frame {
    height: 80%;
    padding: 45px 0px 0px 72px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 239px;
    background: #F2F2F2;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 20px;
}

@media screen and (max-width: 992px) {

    .search, .filter, .offers, .activity {
        padding: 0 72px;
    }

    .filterbar {
        width: 100%;
    }

    .offers {
        flex-direction: column;
        gap: 53px;
    }

    .offers-main {
        width: 100%;
    }

    .offers-sponso {
        width: 100%;
        height: 278px;
        flex-direction: column;
    }

    .offers-sponso-title {
        width: 90%;
    }

    .offers-sponso-container {
        flex-direction: row;
        width: 90%;
        height: 144px;
    }

    .offers-sponso-container a {
        width: 30%;
    }

    .sponso-description-info h2 {
        font-size: 14px;
        line-height: 16px;
    }

    .sponso-description-info p {
        font-size: 13px;
        line-height: 15px;
    }

    .activity {
        margin-top: 70px;
        gap: 34px;    
    }

    .activity-main {
        gap: 50px;
    }

    .activity-card {
        height: 267px;
    }

    .activity-image {
        height: 211px;
    }

    .activity-description h2 {
        width: 137px;
    }
    
    /************ FOOTER ************/

    .footer-frame {
        gap: 82px;
    }
}

/******************** BREAKPOINT - 776px ********************/

@media screen and (max-width: 768px) {

}